@font-face {
    font-family: "GothamPro";
    src: url('./fonts/gothampro/GothamPro/GothamPro.ttf') format("truetype");
}
@font-face {
    font-family: "GothamProB";
    src: url('./fonts/gothampro/GothamPro-Bold/GothamPro-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "GothamProL";
    src: url('./fonts/gothampro/GothamPro-Light/GothamPro-Light.ttf') format("truetype");
}
@font-face {
    font-family: "GothamProM";
    src: url('./fonts/gothampro/GothamPro-Medium/GothamPro-Medium.ttf') format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div {
    border: 1px solid red;
} */
body {
    background-color: #091f43;
    color: #ffffff;
}
.main {
    padding-top: 50px;
    padding-bottom: 50px;
}
.content {
    max-width: 800px;
    margin: 0 auto;
}
.content > div {
    padding: 10px;
}
.title-page {
    font-family: 'GothamPro';
}
.city {
    position: relative;
    display: flex;
    align-items: center;
}
.input-city {
    line-height: 40px;
    border: 0;
    outline: none;
    padding: 5px 60px 5px 20px;
    border-radius: 25px;
    width: 100%;
    font-size: 18px;
}
.input-city::placeholder {
    font-size: 18px;
}
.city-btn {
    position: absolute;
    right: 40px;
    display: flex;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.city-btn:hover {
    filter: invert(57%) sepia(37%) saturate(5166%) hue-rotate(198deg) brightness(101%) contrast(101%);
}
.cards-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    /* margin: 0 20px 20px 0; */
    padding: 45px 40px;
    background-color: #fff;
    color: #1e2432;
    border-radius: 20px;
    font-size: 24px;
}
.container {
    width: 200px;
    font-family: GothamProl;
    position: relative;
}
.card-city {
    margin-bottom: 30px;
}
.card-condition {
    margin-bottom: 130px;
    font-size: 40px;
}
.card-ico {
    margin-bottom: 10px;
    position: absolute;
    right: -25px;
    top: 27px;
}
.card-img {
    height: 200px;
}
.card-info {
    font-size: 18px;
}
