@font-face {
    font-family: "GothamPro";
    src: url('./fonts/gothampro/GothamPro/GothamPro.ttf') format("truetype");
}
@font-face {
    font-family: "GothamProB";
    src: url('./fonts/gothampro/GothamPro-Bold/GothamPro-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "GothamProL";
    src: url('./fonts/gothampro/GothamPro-Light/GothamPro-Light.ttf') format("truetype");
}
@font-face {
    font-family: "GothamProM";
    src: url('./fonts/gothampro/GothamPro-Medium/GothamPro-Medium.ttf') format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div {
    border: 1px solid red;
} */
body {
    background-color: #091f43;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.main {
    padding-top: 50px;
    padding-bottom: 50px;
}
.content {
    max-width: 800px;
    margin: 0 auto;
}
.content > div {
    padding: 10px;
}
.title-page {
    font-family: 'GothamPro';
}
.city {
    position: relative;
    display: flex;
    align-items: center;
}
.input-city {
    line-height: 40px;
    border: 0;
    outline: none;
    padding: 5px 60px 5px 20px;
    border-radius: 25px;
    width: 100%;
    font-size: 18px;
}
.input-city::placeholder {
    font-size: 18px;
}
.city-btn {
    position: absolute;
    right: 40px;
    display: flex;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.city-btn:hover {
    filter: invert(57%) sepia(37%) saturate(5166%) hue-rotate(198deg) brightness(101%) contrast(101%);
}
.cards-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    padding: 40px 40px 30px 40px;
    background-color: #c0cadb;
    color: #1e2432;
    border-radius: 20px;
    font-size: 24px;
    border: 5px solid #606b7c;
    transition: .5s ease-in-out;
}
.card.copy {
    border: 5px solid red;
}
.container {
    width: 200px;
    font-family: GothamProl;
    position: relative;
}
.card-city {
    margin-bottom: 30px;
}
.card-condition {
    margin-bottom: 130px;
    font-size: 40px;
}
.card-ico {
    margin-bottom: 10px;
    position: absolute;
    right: -25px;
    top: 27px;
}
.card-img {
    height: 50px;
}
.card-info {
    font-size: 18px;
}
.card-close {
    margin-top: 15px;
    text-align: center;
    user-select: none;
    opacity: .1;
    transition: .3s;
}
.card-close span {
    display: inline-block;
    background: #a56767;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.card:hover .card-close {
    opacity: 1;
}
.card-close:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-github {
    margin: 5px 0;
    padding: 5px 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'GothamProL';
    transition: .3s;
}
.link-github:hover {
    color: #3ebfb9;
}

.modal {
    padding: 0 20px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #06061ec4;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-window {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 1px black;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.modal-title {
    padding: 20px;
    border-bottom: 1px solid gray;
}
.modal-text {
    padding: 20px;
}
/* .modal-code {
}
.modal-message {
} */